<!DOCTYPE html>
<html>
<head>
  <title>Rapdicrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--   Navigation bar -->
  <%= link_to "Home", welcome_home_path %>
  <%= link_to "About us", welcome_about_path %>
  <%= link_to "Contact", welcome_contact_path %>
  <%= link_to "Leads", leads_path %>
<!--   Navigation bar -->
<%= yield %>

</body>
  
</html>
